#add for board init.rc for recovery mode
#import /init.recovery.common.rc
 export LD_LIBRARY_PATH /system/lib64:/vendor/lib64

symlink
on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    symlink /system_root /dev/block/dm-0
    symlink /vendor /dev/block/dm-2
    symlink /product /dev/block/dm-3
    symlink /system_ext /dev/block/dm-1
    symlink /system_dlkm /dev/block/dm-6
    symlink /vendor_dlkm /dev/block/dm-5
    symlink /dev/block/soc/soc:ap-apb/20200000.ufs/by-name /dev/block/by-name
on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd
on fs
    start load_modules
    start prepdecrypt 

service load_modules /system/bin/load_modules.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

 service prepdecrypt /system/bin/prepdecrypt.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0


service keystore2 /system/bin/keystore2 /data/misc/keystore
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymint-2-0 /system/bin/android.hardware.security.keymint@2.0-unisoc.service.trusty
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service.trusty
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service identity /system/bin/android.hardware.identity-service.trusty
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start keymint-2-0
    start gatekeeper-1-0

on property:crypto.ready=1 && property:ro.crypto.state=encrypted
    start keymint-2-0
    start gatekeeper-1-0

on property:crypto.ready=1 && property:hwservicemanager.ready=true
    start keymint-2-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported || property:ro.crypto.state=unencrypted || property:twrp.decrypt.done=true
    stop keymint-2-0
    stop gatekeeper-1-0

on boot
#start identity
install_keyring
 start keymint-2-0
 start gatekeeper-1-0
    start boot-hal-1-0
    start health-hal-2-1
